# settings-PostgreSQL
DB_NAME=db
DB_USER=postgres
DB_PASSWORD=CHANGE_ME
DB_PORT=5432


# Db-Context
DB_CONNECTION_STRING=="Host=localhost;Port=DB_PORT;Database=db;Username=DB_USER;Password=CHANGE_ME"

# JWT
JWT_SECRET="CHANGE_ME"
JWT_HOURS=CHANGE_ME

# ASP NET CORE env
ASPNETCORE_ENVIRONMENT=Development

# URL
BASE_URL=CHANGE_ME

# Cloud.ru S3 Object Storage
KEY_ID=CHANGE_ME
KEY_SECRET=CHANGE_ME
REGION=ru-central-1
ENDPOINT=https://s3.cloud.ru
S3_BUCKET=shabasher-storage
S3_PUBLIC_BASE_URL=https://s3.cloud.ru