version: "3.9"
services:
  postgres:
    container_name: postgres
    image: postgres:18
    environment:
        POSTGRES_DB: "db"
        POSTGRES_USER: "postgres"
        POSTGRES_PASSWORD: "A6b7OD15"
    volumes:
    - "postgres-data:/var/lib/postgresql/data" 
    ports:
    - "5432:5432"
volumes:
  postgres-data: