version: "3.9"
services:
  postgres:
    container_name: postgres
    image: postgres:18
    environment:
        POSTGRES_DB: ${DB_NAME}
        POSTGRES_USER: ${DB_USER}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
    - "postgres-data:/var/lib/postgresql/data" 
    ports:
    - "${DB_PORT}:5432"
volumes:
  postgres-data: